//__________________________________________________
// Titles
//__________________________________________________

.title.st1 {
	color: $black;
	font-size: 1.6em;
	text-transform: uppercase;
}



//__________________________________________________
// Text
//__________________________________________________

.txt.st1 {
	color: $grey;
	font-size: 1.1em;
}